
   body{
    background-color: #fff;
   }
    /* Set gray background color and 100% height */
    ::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}
 h1{
  color: #e31837;
 }
 h2{
  color: #fff; font-size:3rem; font-weight: bold; margin:0; padding: 0;
 }
.headtext{text-align: center; }
/*******login*****/
.loginbtn
{
  background-color: #e31837;
  color: white;
}
.scanbtn{
  width: 80%;
  margin: 0px auto;
  border-radius: 5px;
  text-align: center;
  margin-top: 40px;
  padding-bottom: 50px;
}
.btnscan{
  background-color: #6d6e71;
  color: white;
  width: 50%;
  height: 50px;
  font-size: 22px;
  margin-top: 5%;
}
.form_bg {
    background-color:#eee;
    color:#666;
    padding-top:10px;
    padding-left:50px;
    padding-right:50px;
    border-radius:10px;
    position: absolute;
    border:1px solid #fff;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 500px;
    height: 250px;
}

/******End Login*********/
.addbtn{
  position: fixed;
  bottom: 20px;
  right: 0px;
  width: 80px;
  z-index: 100;
}
.add{background-color: #00aa8d; color: #fff;}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
  outline: none;
}
.btnlogout{
  font-size: 36px !important;
 margin-left: 10px;
  color: #fff;
}
.welcomtext{  color: #fff; font-size: 24px;text-align: right; }
